In [15]:
import os
import pandas as pd

In [16]:
# Define o caminho para a pasta "dados"
folder_path = "C:/Projetos/data_pipeline_dw_caged/back_room/python/dados"

# Lista para armazenar os dataframes de cada arquivo
datasets = []

In [17]:
# Percorre todos os arquivos .txt na pasta
for filename in os.listdir(folder_path):
    if filename.endswith('.txt'):
        file_path = os.path.join(folder_path, filename)
        
        # Verifica se o arquivo contém as colunas competênciaexc e indicadordeexclusão
        with open(file_path, 'r') as file:
            lines = file.readlines()
            
            first_line = lines[0].strip()
            columns = first_line.split(';')
            
            if 'competênciaexc' not in columns:
                columns.append('competênciaexc')
            
            if 'indicadordeexclusão' not in columns:
                columns.append('indicadordeexclusão')
                first_line += ';0'  # Valor padrão para a coluna indicadordeexclusão
            
            data_lines = []
            for line in lines[1:]:
                fields = line.strip().split(';')
                
                if len(fields) == len(columns):
                    data_lines.append(fields)
            
            # Cria o dataframe com as linhas de dados
            data = pd.DataFrame(data_lines, columns=columns)
            
            # Concatena a primeira linha e o restante do dataframe
            data = pd.concat([pd.DataFrame([first_line.split(';')]), data])
        
        datasets.append(data)

# Concatena todos os dataframes em um único dataframe
consolidated_dataset = pd.concat(datasets, ignore_index=True)

# Exibe o dataframe consolidado
print(consolidated_dataset)

                   0        1   2           3        4          5
0    competÃªnciamov  regiÃ£o  uf  municÃ­pio  seÃ§Ã£o  subclasse  \
1    competÃªnciamov  regiÃ£o  uf  municÃ­pio  seÃ§Ã£o  subclasse
2    competÃªnciamov  regiÃ£o  uf  municÃ­pio  seÃ§Ã£o  subclasse
3    competÃªnciamov  regiÃ£o  uf  municÃ­pio  seÃ§Ã£o  subclasse
4    competÃªnciamov  regiÃ£o  uf  municÃ­pio  seÃ§Ã£o  subclasse
..               ...      ...  ..         ...      ...        ...
108  competÃªnciamov  regiÃ£o  uf  municÃ­pio  seÃ§Ã£o  subclasse
109  competÃªnciamov  regiÃ£o  uf  municÃ­pio  seÃ§Ã£o  subclasse
110  competÃªnciamov  regiÃ£o  uf  municÃ­pio  seÃ§Ã£o  subclasse
111  competÃªnciamov  regiÃ£o  uf  municÃ­pio  seÃ§Ã£o  subclasse
112  competÃªnciamov  regiÃ£o  uf  municÃ­pio  seÃ§Ã£o  subclasse

                       6                  7          8                  9
0    saldomovimentaÃ§Ã£o  cbo2002ocupaÃ§Ã£o  categoria  graudeinstruÃ§Ã£o  \
1    saldomovimentaÃ§Ã£o  cbo2002ocupaÃ§Ã£o  categoria  graudeinstruÃ§Ã£o
2    saldomovimentaÃ§Ã£o  cbo2002ocupaÃ§Ã£o  categoria  graudeinstruÃ§Ã£o
3    saldomovimentaÃ§Ã£o  cbo2002ocupaÃ§Ã£o  categoria  graudeinstruÃ§Ã£o
4    saldomovimentaÃ§Ã£o  cbo2002ocupaÃ§Ã£o  categoria  graudeinstruÃ§Ã£o
..                   ...                ...        ...                ...
108  saldomovimentaÃ§Ã£o  cbo2002ocupaÃ§Ã£o  categoria  graudeinstruÃ§Ã£o
109  saldomovimentaÃ§Ã£o  cbo2002ocupaÃ§Ã£o  categoria  graudeinstruÃ§Ã£o
110  saldomovimentaÃ§Ã£o  cbo2002ocupaÃ§Ã£o  categoria  graudeinstruÃ§Ã£o
111  saldomovimentaÃ§Ã£o  cbo2002ocupaÃ§Ã£o  categoria  graudeinstruÃ§Ã£o
112  saldomovimentaÃ§Ã£o  cbo2002ocupaÃ§Ã£o  categoria  graudeinstruÃ§Ã£o

     ... indicadoraprendiz origemdainformaÃ§Ã£o competÃªnciadec
0    ...               NaN                  NaN             NaN  \
1    ...               NaN                  NaN             NaN
2    ...               NaN                  NaN             NaN
3    ...               NaN                  NaN             NaN
4    ...               NaN                  NaN             NaN
..   ...               ...                  ...             ...
108  ...               NaN                  NaN             NaN
109  ...               NaN                  NaN             NaN
110  ...               NaN                  NaN             NaN
111  ...               NaN                  NaN             NaN
112  ...               NaN                  NaN             NaN

    competÃªnciaexc indicadordeexclusÃ£o indicadordeforadoprazo
0               NaN                  NaN                    NaN  \
1               NaN                  NaN                    NaN
2               NaN                  NaN                    NaN
3               NaN                  NaN                    NaN
4               NaN                  NaN                    NaN
..              ...                  ...                    ...
108             NaN                  NaN                    NaN
109             NaN                  NaN                    NaN
110             NaN                  NaN                    NaN
111             NaN                  NaN                    NaN
112             NaN                  NaN                    NaN

    unidadesalÃ¡riocÃ³digo valorsalÃ¡riofixo competênciaexc
0                      NaN               NaN            NaN  \
1                      NaN               NaN            NaN
2                      NaN               NaN            NaN
3                      NaN               NaN            NaN
4                      NaN               NaN            NaN
..                     ...               ...            ...
108                    NaN               NaN            NaN
109                    NaN               NaN            NaN
110                    NaN               NaN            NaN
111                    NaN               NaN            NaN
112                    NaN               NaN            NaN

    indicadordeexclusão
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
..                  ...
108                 NaN
109                 NaN
110                 NaN
111                 NaN
112                 NaN

[113 rows x 63 columns]

In [4]:
# concatena os dataframes em um único dataframe final
df_final = pd.concat(dfs, ignore_index=True)

In [5]:
# exibe o dataframe final
df.head()

,competênciamov,região,uf,município,seção,subclasse,saldomovimentação,cbo2002ocupação,categoria,graudeinstrução,...,salário,tamestabjan,indicadoraprendiz,origemdainformação,competênciadec,competênciaexc,indicadordeexclusão,indicadordeforadoprazo,unidadesaláriocódigo,valorsaláriofixo
0,202001,3,33,330455,Q,8660700,-1,515105,105,7,...,"1400,00",10,0,1,202001,202005,1,0,5,"1400,00"
1,202001,3,33,330455,Q,8660700,-1,515105,105,7,...,"1400,00",10,0,1,202001,202005,1,0,5,"1400,00"
2,202001,3,35,355030,N,7820500,1,141615,106,7,...,"220,00",10,0,1,202002,202005,1,1,99,NaN
3,202001,3,33,330455,Q,8660700,-1,322405,105,7,...,"1622,00",10,0,1,202001,202005,1,0,5,"1622,00"
4,202001,2,29,292740,G,4761001,-1,521110,101,9,...,"3018,12",3,0,1,202001,202005,1,0,5,"3018,12"

In [32]:
df.shape

(780, 30)

In [3]:
# percorre todos os arquivos da pasta com a extensão .csv
for arquivo in os.listdir(caminho_pasta):
    if arquivo.endswith('.txt'):
        # lê o arquivo CSV com o pandas
        df = pd.read_csv(os.path.join(caminho_pasta, arquivo), delimiter=';', skiprows=5, header=5, encoding='ISO-8859-1')
        
        # adiciona as colunas de indicador e equipe
        df_colunas = pd.read_csv(os.path.join(caminho_pasta, arquivo), encoding='ISO-8859-1')
        indicador = df_colunas.iloc[5,0] # valor da linha 7 do arquivo CSV
        indicador = indicador.replace("Indicador: ", "")
        equipe = df_colunas.iloc[7, 0] # valor da linha 9 do arquivo CSV
        df['Indicador'] = indicador
        df['Equipe'] = equipe
        
        # adiciona a coluna com o nome do arquivo
        nome_arquivo = os.path.splitext(arquivo)[0] # remove a extensão do arquivo
        df['Arquivo'] = nome_arquivo

        # Definir Ano
        df['Ano'] = df.columns[5][:4]

        # Renomear coluna de % de quartil
        df = df.rename(columns={df.columns[5]: 'Percentual Quadrimestre'})

        # Definir Quadrimestre
        df['Quadrimestre'] = df['Arquivo'].str[20]
        
        # Remover a coluna vazia
        df = df.drop('Unnamed: 12', axis=1)
        df = df.drop('Arquivo', axis=1)

        # Remover as 5 últimas linas de rosto
        df = df.drop(df.tail(5).index)

        # adiciona o dataframe à lista de dataframes
        dfs.append(df)

In [4]:
# concatena os dataframes em um único dataframe final
df_final = pd.concat(dfs, ignore_index=True)

# Incluir sks
df_final['sk_indicador'] = df_final['Indicador'].map(df_final['Indicador'].drop_duplicates().reset_index(drop=True).reset_index().set_index('Indicador')['index'] + 1)
df_final['sk_equipe'] = pd.factorize(df_final['Equipe'])[0] + 1
df_final['sk_localidade'] = df_final['IBGE'].astype(int)
df_final["sk_periodo"] = df_final["Ano"]+df_final["Quadrimestre"]

In [1]:
# exibe o dataframe final
df_final.head()

NameError: name 'df_final' is not defined

In [6]:
df_final.columns

Index(['UF', 'IBGE', 'Munícipio', 'Numerador', 'Denominador Utilizado',
       'Percentual Quadrimestre', 'Denominador Identificado',
       'Denominador Estimado', 'Cadastro', 'Base Externa', 'Percentual',
       'População', 'Indicador', 'Equipe', 'Ano', 'Quadrimestre',
       'sk_indicador', 'sk_equipe', 'sk_localidade', 'sk_periodo'],
      dtype='object')

In [7]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233478 entries, 0 to 233477
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   UF                        233478 non-null  object
 1   IBGE                      233478 non-null  float64
 2   Munícipio                 233478 non-null  object
 3   Numerador                 233478 non-null  float64
 4   Denominador Utilizado     233478 non-null  float64
 5   Percentual Quadrimestre   233478 non-null  float64
 6   Denominador Identificado  233478 non-null  float64
 7   Denominador Estimado      233478 non-null  float64
 8   Cadastro                  233478 non-null  float64
 9   Base Externa              233478 non-null  float64
 10  Percentual                233478 non-null  float64
 11  População                 233478 non-null  float64
 12  Indicador                 233478 non-null  object
 13  Equipe                    233478 non-null  object
 14  Ano                       233478 non-null  object
 15  Quadrimestre              233478 non-null  object
 16  sk_indicador              233478 non-null  int64
 17  sk_equipe                 233478 non-null  int64
 18  sk_localidade             233478 non-null  int32
 19  sk_periodo                233478 non-null  object
dtypes: float64(10), int32(1), int64(2), object(7)
memory usage: 34.7+ MB

In [312]:
df_final.shape

(233478, 20)

In [313]:
print('O dataset possui',df_final.shape[0], 'registros e', df_final.shape[1], 'atributos.')

O dataset possui 233478 registros e 20 atributos.

In [314]:
df_final.describe()

,IBGE,Numerador,Denominador Utilizado,Percentual Quadrimestre,Denominador Identificado,Denominador Estimado,Cadastro,Base Externa,Percentual,População,sk_indicador,sk_equipe,sk_localidade
count,233478.000000,233478.000000,2.334780e+05,233478.00000,2.334780e+05,2.334780e+05,2.334780e+05,2.334780e+05,233478.000000,2.334780e+05,233478.000000,233478.000000,233478.000000
mean,325320.624114,557.279825,2.617825e+03,46.03707,2.468784e+03,2.478791e+03,2.899539e+04,1.592412e+03,114.299848,3.819937e+04,4.000000,1.500300,325320.624114
std,98499.244940,3055.431834,2.063719e+04,28.61720,1.919624e+04,1.924772e+04,1.305334e+05,2.488236e+04,59.088050,2.239665e+05,2.000004,0.500001,98499.244940
min,110001.000000,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2.100000e+01,1.000000,1.000000,110001.000000
25%,251207.000000,19.000000,3.500000e+01,21.00000,3.300000e+01,2.900000e+01,5.744000e+03,1.100000e+01,90.000000,5.452000e+03,2.000000,1.000000,251207.000000
50%,314600.000000,71.000000,1.760000e+02,43.00000,1.610000e+02,1.660000e+02,1.121800e+04,2.700000e+01,104.000000,1.169000e+04,4.000000,2.000000,314600.000000
75%,411920.000000,400.000000,1.665000e+03,71.00000,1.607000e+03,1.543000e+03,2.310400e+04,1.340000e+02,126.000000,2.571900e+04,6.000000,2.000000,411920.000000
max,530010.000000,283703.000000,1.928165e+06,100.00000,1.928165e+06,1.704243e+06,5.893815e+06,3.584509e+06,2900.000000,1.239637e+07,7.000000,2.000000,530010.000000

In [315]:
df_final.isna().sum()

UF                          0
IBGE                        0
Munícipio                   0
Numerador                   0
Denominador Utilizado       0
Percentual Quadrimestre     0
Denominador Identificado    0
Denominador Estimado        0
Cadastro                    0
Base Externa                0
Percentual                  0
População                   0
Indicador                   0
Equipe                      0
Ano                         0
Quadrimestre                0
sk_indicador                0
sk_equipe                   0
sk_localidade               0
sk_periodo                  0
dtype: int64

In [316]:
df_indicador = None
df_equipe = None
df_periodo = None
df_localidade = None
fato_sisab = None

DF_INDICADOR

In [317]:
# mapeamento dos valores de de_indicador para nm_indicador
map_indicador = {'Proporção de crianças de 1 (um) ano de idade vacinadas na APS contra Difteria, Tétano, Coqueluche, Hepatite B, infecções causadas por haemophilus influenzae tipo b e Poliomielite inativada': 'criancas_vacinadas',
                 'Proporção de gestantes com pelo menos 6 (seis) consultas pré-natal realizadas, sendo a 1ª (primeira) até a 12ª (décima segunda) semana de gestação': 'gestantes_pre_natal',
                 'Proporção de gestantes com atendimento odontológico realizado': 'gestantes_odontologico',
                 'Proporção de gestantes com realização de exames para sífilis e HIV': 'gestantes_exames_dsts',
                 'Proporção de mulheres com coleta de citopatológico na APS': 'mulheres_citopatologico',
                 'Proporção de pessoas com diabetes, com consulta e hemoglobina glicada solicitada no semestre': 'pessoas_diabetes',
                 'Proporção de pessoas com hipertensão, com consulta e pressão arterial aferida no semestre': 'pessoas_hipertensao'}

In [318]:
df_indicador =  df_final[['sk_indicador','Indicador']].drop_duplicates().reset_index(drop=True)
df_indicador = df_indicador.rename(columns={'Indicador': 'de_indicador'})
df_indicador['nm_indicador'] = df_indicador['de_indicador'].apply(lambda x: map_indicador[x])
df_indicador = df_indicador.reindex(columns=['sk_indicador', 'nm_indicador', 'de_indicador'])

In [319]:
df_indicador.head()

,sk_indicador,nm_indicador,de_indicador
0,1,criancas_vacinadas,Proporção de crianças de 1 (um) ano de idade v...
1,2,gestantes_pre_natal,Proporção de gestantes com pelo menos 6 (seis)...
2,3,gestantes_odontologico,Proporção de gestantes com atendimento odontol...
3,4,gestantes_exames_dsts,Proporção de gestantes com realização de exame...
4,5,mulheres_citopatologico,Proporção de mulheres com coleta de citopatoló...

DF_EQUIPE

In [320]:
# mapeamento dos valores de de_indicador para nm_indicador
map_equipe = {'Considerado apenas (eSF e eAP) válidas para o componente de desempenho': 'validas',
              'Considerado apenas equipes (eSF e eAP) homologadas': 'homologadas'}

In [321]:
df_equipe =  df_final[['sk_equipe','Equipe']].drop_duplicates().reset_index(drop=True)
df_equipe = df_equipe.rename(columns={'Equipe': 'de_equipe'})
df_equipe['nm_equipe'] = df_equipe['de_equipe'].apply(lambda x: map_equipe[x])
df_equipe = df_equipe.reindex(columns=['sk_equipe', 'nm_equipe', 'de_equipe'])

In [335]:
df_equipe.head()

   sk_equipe    nm_equipe                                          de_equipe
0          1      validas  Considerado apenas (eSF e eAP) válidas para o ...
1          2  homologadas  Considerado apenas equipes (eSF e eAP) homolog...

DF_LOCALIDADE

In [325]:
df_localidade = df_final[['sk_localidade', 'UF', 'Munícipio']].drop_duplicates().reset_index(drop=True)
df_localidade = df_localidade.rename(columns={'UF': 'uf', 'Munícipio': 'municipio'})
#df_localidade.set_index('sk_localidade', inplace=True, drop=False)

In [326]:
df_localidade.head()

   sk_localidade  uf               municipio
0         354700  SP    SANTA MARIA DA SERRA
1         316660  MG        SERRA DA SAUDADE
2         170270  TO     AURORA DO TOCANTINS
3         521940  GO  SANTA RITA DO ARAGUAIA
4         410670  PR         CRUZEIRO DO SUL

DF_PERIODO

In [327]:
df_periodo = df_final[['sk_periodo','Ano','Quadrimestre']].drop_duplicates().reset_index(drop=True)
df_periodo = df_periodo.rename(columns={'Ano': 'ano', 'Quadrimestre': 'quadrimestre'})
df_periodo = df_periodo.reindex(columns=['sk_periodo', 'ano', 'quadrimestre'])

In [328]:
df_periodo.head()

  sk_periodo   ano quadrimestre
0      20221  2022            1
1      20222  2022            2
2      20223  2022            3

FATO_DESEMPENHO

In [ ]:
# sk_indicador integer NOT NULL,
# sk_equipe integer NOT NULL,
# sk_periodo integer NOT NULL,
# sk_localidade integer NOT NULL,
# numerador integer NOT NULL,
# denominador_utilizado integer NOT NULL,
# percentual_quadrimestre integer NOT NULL,
# denominador_identificado integer NOT NULL,
# denominador_estimado integer NOT NULL,
# cadastro integer NOT NULL,
# base_externa real NOT NULL,
# percentual integer NOT NULL,
# populacao integer NOT NULL,

In [332]:
fato_sisab = df_final[[
    'sk_indicador',
    'sk_equipe',
    'sk_periodo',
    'sk_localidade',
    'Numerador',
    'Denominador Utilizado',
    'Percentual Quadrimestre',
    'Denominador Identificado',
    'Denominador Estimado',
    'Cadastro',
    'Base Externa',
    'Percentual',
    'População'
    ]]

In [333]:
fato_sisab.head()

,sk_indicador,sk_equipe,sk_periodo,sk_localidade,Numerador,Denominador Utilizado,Percentual Quadrimestre,Denominador Identificado,Denominador Estimado,Cadastro,Base Externa,Percentual,População
0,1,1,20221,354700,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,6236.0
1,1,1,20221,316660,0.0,1.0,0.0,0.0,1.0,891.0,1.0,0.0,776.0
2,1,1,20221,170270,0.0,10.0,0.0,10.0,6.0,3471.0,6.0,167.0,3783.0
3,1,1,20221,521940,0.0,10.0,0.0,3.0,10.0,4575.0,20.0,30.0,8935.0
4,1,1,20221,410670,0.0,11.0,0.0,0.0,11.0,3163.0,15.0,0.0,4449.0